## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = list(counts[counts < cutoff].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification = application_df['CLASSIFICATION'].value_counts()
classification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_one = classification.loc[classification > 1]
classifications_one

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff = 1000
class_type = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification[classification < class_cutoff].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy = pd.get_dummies(application_df, dtype=int)
dummy.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = dummy.drop("IS_SUCCESSFUL", axis=1).values
y = dummy["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 10)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation='relu', input_dim=43))


# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation='relu'))


# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403 (1.57 KB)
Trainable params: 403 (1.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn_model.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.6350 - accuracy: 0.6662
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5876 - accuracy: 0.7264
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5769 - accuracy: 0.7280
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5733 - accuracy: 0.7289
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5707 - accuracy: 0.7289
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5678 - accuracy: 0.7297
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5662 - accuracy: 0.7304
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5637 - accuracy: 0.7309
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7312
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5595 - accuracy: 0.7314
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5589 - accuracy: 0.7311
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5580 - accuracy: 0.7316
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5572 - accuracy: 0.7315
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7317
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5563 - accuracy: 0.7312
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5559 - accuracy: 0.7330
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5560 - accuracy: 0.7322
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7323
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7328
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7322
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7323
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5548 - accuracy: 0.7329
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7333
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7334
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7328
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7335
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7334
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7329
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5535 - accuracy: 0.7339
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7338
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7336
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7343
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5531 - accuracy: 0.7336
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7345
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5530 - accuracy: 0.7343
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7344
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7344
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7333
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7343
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7350
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7348
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7349
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7341
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7348
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7341
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7350
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7347
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7346
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7351
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7339

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5581 - accuracy: 0.7255 - 1s/epoch - 4ms/step
Loss: 0.5581358671188354, Accuracy: 0.7254810333251953

In [18]:
# Export our model to HDF5 file
nn_model.save('h5Files/AlphabetSoupCharity1.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(